
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Milky Admin</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/admin-template/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Yahya YAĞMUR</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/Admin/AboutUs/Index" class="nav-item nav-link"><i class="fa fa-info-circle me-2"></i>Hakkımızda</a>
            <a href="/Admin/AboutUsService/Index" class="nav-item nav-link"><i class="fa fa-info-circle me-2"></i>Hakkımızda_H</a>
            <a href="/Admin/BusinessHour/Index" class="nav-item nav-link"><i class="fa fa-clock me-2"></i>Çalışma Saatleri</a>
            <a href="/Admin/Contact/Index" class="nav-item nav-link"><i class="fa fa-envelope me-2"></i>İletişim</a>
            <a href="/Admin/Dashboard/Index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/Admin/Gallery/Index" class="nav-item nav-link"><i class="fa fa-image me-2"></i>Galeri</a>
            <a href="/Admin/Message/Index" class="nav-item nav-link"><i class="fa fa-envelope-open me-2"></i>Mesaj</a>
            <a href="/Admin/OurService/Index" class="nav-item nav-link"><i class="fa fa-concierge-bell me-2"></i>Hizmetler</a>
            <a href="/Admin/PageBanner/Index" class="nav-item nav-link"><i class="fa fa-flag me-2"></i>Sayfa Banner</a>
            <a href="/Admin/Product/Index" class="nav-item nav-link"><i class="fa fa-box-open me-2"></i>Ürünler</a>
            <a href="/Admin/Slider/Index" class="nav-item nav-link"><i class="fa fa-sliders-h me-2"></i>Anasayfa Slider</a>
            <a href="/Admin/SocialMedia/Index" class="nav-item nav-link"><i class="fa fa-share-alt me-2"></i>Sosyal Medya</a>
            <a href="/Admin/TeamMember/Index" class="nav-item nav-link"><i class="fa fa-users me-2"></i>Takım</a>
            <a href="/Admin/TeamMemberSocialMedia/Index" class="nav-item nav-link"><i class="fa fa-share-alt me-2"></i>Takım S.M.</a>
            <a href="/Admin/Testimonial/Index" class="nav-item nav-link"><i class="fa fa-thumbs-up me-2"></i>Referanslar</a>
            <a href="/Admin/WhyUs/Index" class="nav-item nav-link"><i class="fa fa-question-circle me-2"></i>Neden Biz</a>
            <a href="/Admin/WhyUsDetail/Index" class="nav-item nav-link"><i class="fa fa-info-circle me-2"></i>Neden Biz Detay</a>
            <a href="/Default/Index/" class="nav-item nav-link"><i class="fa fa-globe me-2"></i>Siteye Git</a>
            <a href="/Login/Logout/" class="nav-item nav-link"><i class="fa fa-sign-out-alt me-2"></i>Çıkış Yap</a>
        </div>

    </nav>
</div>