
@{
    ViewData["Title"] = "İletişim";
    ViewData["ActiveContact"] = "active";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3">İletişim</p>
            <h1 class="mb-5">Bir sorunuz varsa bizimle iletişime geçin.</h1>
        </div>
        <div class="row g-5">
           
            @await Component.InvokeAsync("ContactMessageComponentPartial")
            @await Component.InvokeAsync("ContactAdressComponentPartial")
        </div>
    </div>
</div>

