
<div class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Çiftliğimiz</h5>
                @await Component.InvokeAsync("FooterAdressComponentPartial")
               
                <div class="d-flex pt-3">
                    @await Component.InvokeAsync("FooterSocialMediaComponentPartial")
                  
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Hızlı Linkler</h5>
                <a class="btn btn-link" href="">Hakkımızda</a>
                <a class="btn btn-link" href="">İletişim</a>
                <a class="btn btn-link" href="">Hizmetlerimiz</a>
                <a class="btn btn-link" href="">Şartlar & Koşullar</a>
                <a class="btn btn-link" href="">Destek</a>
            </div>
            <div class="col-lg-3 col-md-6">
                @await Component.InvokeAsync("FooterBusinessHourComponentPartial")
               
            </div>
            <div class="col-lg-3 col-md-6">
                @await Component.InvokeAsync("FooterNewsletterComponentPartial")
               
            </div>
        </div>
    </div>
</div>