
<div class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Çiftliğimiz</h5>
                @await Component.InvokeAsync("FooterAdressComponentPartial")
               
                <div class="d-flex pt-3">
                    @await Component.InvokeAsync("FooterSocialMediaComponentPartial")
                  
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Hızlı Linkler</h5>
                <a class="btn btn-link" href="">Hakkımızda</a>
                <a class="btn btn-link" href="">İletişim</a>
                <a class="btn btn-link" href="">Hizmetlerimiz</a>
                <a class="btn btn-link" href="">Şartlar & Koşullar</a>
                <a class="btn btn-link" href="">Destek</a>
            </div>
            <div class="col-lg-3 col-md-6">
                @await Component.InvokeAsync("FooterBusinessHourComponentPartial")
               
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Mail Listesi</h5>
                <p>En güncel kampanya ve duyurulardan haberdar olmak için mail listemize kaydolun.</p>
                <div class="position-relative w-100">
                    <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Mail Adresiniz">
                    <button type="button" class="btn btn-secondary py-2 position-absolute top-0 end-0 mt-2 me-2">Kayıt Ol</button>
                </div>
            </div>
        </div>
    </div>
</div>