@model UpdateSliderDto
@{
    ViewData["Title"] = "UpdateSlider";
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";
}

<h4>UI Slider Alanı Güncelleme </h4>
<hr />
<div class="row">

    <form method="post">
        <input type="hidden" asp-for="SliderId"/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ImageUrl" class="control-label">Resim Url</label>
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description1" class="control-label">Açıklama 1</label>
            <input asp-for="Description1" class="form-control" />
            <span asp-validation-for="Description1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description2" class="control-label">Açıklama 2</label>
            <input asp-for="Description2" class="form-control" />
            <span asp-validation-for="Description2" class="text-danger"></span>
        </div>
        <div class="form-group form-check my-3">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Status" /> Yayınlansın Mı?
            </label>
        </div>
        <div class="form-group">
            <a href="/Admin/BusinessHour/Index" class="btn btn-warning"> Listeye Dön</a>
            <input type="submit" value="Güncelle" class="btn btn-primary" />
        </div>
    </form>
</div>
