@model CreateMessageDto

<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
    <h3 class="mb-4">İletişim Formu</h3>
    
    <form method="post" asp-action="SendMessage" asp-controller="Contact">
        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="name" placeholder="Adınız Soyadınız" asp-for="Name" required>
                    <label for="name">Adınız Soyadınız</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" placeholder="Mail Adresiniz" asp-for="Email" required>
                    <label for="email">Mail Adresiniz</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" class="form-control" id="subject" placeholder="Konu" asp-for="Subject" required>
                    <label for="subject">Konu</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Mesajınızı buaraya yazınız..." id="message" style="height: 250px" asp-for="Content" required></textarea>
                    <label for="message">Mesaj</label>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-secondary rounded-pill py-3 px-5" type="submit">Mesaj Gönder</button>
            </div>
        </div>
    </form>
</div>