@model MilkyProject.DtoLayer.ProductDtos.UpdateProductDto
@{
    ViewData["Title"] = "UpdateProduct";
}


<form method="post">
    <input asp-for="ProductId"/>
    <br />
    <label>ÜrünAdı</label>
    <input type="text" asp-for="Name" />
    <br />
    <label>Eski Fiyat</label>
    <input type="text" asp-for="OldPrice" />
    <br />
    <label>Yeni Fiyat</label>
    <input type="text" asp-for="NewPrice" />
    <br />
    <label>Görsel</label>
    <input type="text" asp-for="ImageUrl" />
    <br />
    <label>Durum</label>
    <input type="text" asp-for="Status" />
    <br />
    <button class="btn btn-info">Ekle</button>

</form>

